<% title = post.title || "Untitled" %>
<% if (list) { %>
  <% if (post.link) { %>
    <a class="<%= className %>" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= title %></a>
  <% } else { %>
    <a class="<%= className %>" href="<%- url_for(post.path) %>"><%= title %></a>
  <% } %>
<% } else { %>
  <h1 class="<%= className %>" itemprop="name headline">
    <%= title %>
  </h1>
<% } %>
