<% if (page.total > 1) { %>
  <div class="pagination">
  <span class="pagination__page-number"><%= 'Page ' + page.current + ' of ' + page.total %></span>
    <% if (page.prev) { %>
      <a class="pagination__link" href="<%- url_for(page.prev_link) %>"><%- __('prev') %></a>
    <% } %>
    <% if (page.next) { %>
      <a class="pagination__link" href="<%- url_for(page.next_link) %>"><%- __('next') %></a>
    <% } %>
  </div>
<% } %>
